<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525354192808-1s9ckmm08069uqat2c764bm5hb608el6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525354192808-1s9ckmm08069uqat2c764bm5hb608el6</string>
	<key>API_KEY</key>
	<string>AIzaSyB6QrjkhAjXiNMdJ-BxsSN6mbRliEJBBs4</string>
	<key>GCM_SENDER_ID</key>
	<string>525354192808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tinaditte.MapDemo</string>
	<key>PROJECT_ID</key>
	<string>mapdemo-c2b49</string>
	<key>STORAGE_BUCKET</key>
	<string>mapdemo-c2b49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525354192808:ios:8b6ba54e0404842ad3d79d</string>
	<key>DATABASE_URL</key>
	<string>https://mapdemo-c2b49.firebaseio.com</string>
</dict>
</plist>